<%- include('../layout/adheader.ejs') -%>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="me-2"></i>BAAGY</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <!-- <h6 class="mb-0">Jhon Doe</h6> -->
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/adminpanel" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/userdash" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
                    <a href="/admin/product" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Products</a>
                    <a href="/admin/category" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category</a>
                    <a href="/admin/coupons" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupons</a>
                    <a href="/admin/Orders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
                    <a href="/admin/banners" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>Banners</a>
                    <a href="/admin/offers" class="nav-item nav-link"><i class="fa-solid fa-hand-holding-dollar"></i>Offers</a>
                    <form action="adminlogout" method="post" class="d-flex justify-content-center mt-3">
                        <input type="submit" value="Logout" class="btn btn-danger">
                    </form>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- contents starts -->
            <div class="d-flex h-100 justify-content-center align-items-center bg-light pt-4">
                <form enctype="multipart/form-data" action="newproduct" method="post"
                    class="container py-4 px-5 rounded shadow-sm bg-success">
                    <div class="row ">
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="">
                        </div>
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Brand</label>
                            <input class="form-control" name="brand" placeholder="">
                        </div>
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Quantity</label>
                            <input type="text" name="quantity" class="form-control">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Actual price</label>
                            <input type="text" name="actual" class="form-control" id="brand" placeholder="">
                        </div>
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Current Price</label>
                            <input type="text" name="price" class="form-control" id="material" placeholder="">
                        </div>
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Discount</label>
                            <input type="text" name="discount" class="form-control" id="material" placeholder="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="form-group col">
                            <label for="exampleInputname" class="mb-2 text-white ">Material</label>
                            <input type="text" name="material" class="form-control" id="material">
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="floatingTextarea mt-3" class="mb-1 text-white ">Description</label>
                        <textarea name="description" class="form-control mt-2 mb-2" style="height: 150px;"
                            id="floatingTextarea" placeholder="Description"></textarea>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 btn-light w-25">
                            <input type="file" id="file" name="img" multiple accept="/image" multiple-max_length="20px"
                                class="upload__inputfile">
                        </div>
                        <div class="col">
                            <label for="category" class="text-dark">Select Category:</label>
                            <select id="myList" onchange="favTutorial()">
                                <% if(catData.length>0)
                                    { for(let i=0;i<catData.length;i++){%>
                                        <option id="<%=catData[i]._id  %>" value="<%=catData[i]._id  %>">
                                            <%= catData[i].name %>
                                        </option>
                                        <% }}else{ %>
                                            <option value="">No categories</option>
                                            <% } %>
                            </select>
                            <input type="hidden" id="favourite" name="category">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" value="submit" id="submitButton" class="btn btn-warning">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var mylist = document.getElementById("myList");
            var hiddenInput = document.getElementById("favourite");
            hiddenInput.value = mylist.options[0].getAttribute("id");
            mylist.addEventListener("change", function() {
                var selectedOption = mylist.options[mylist.selectedIndex];
                var selectedObjectId = selectedOption.getAttribute("id"); 
                hiddenInput.value = selectedObjectId;
            });
        });
    </script>
    <%- include('../layout/adfooter.ejs') -%>