<%- include('../layout/adheader.ejs') -%>
  <div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary"><i class="me-2"></i>BAAGY</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
          <div class="position-relative">
            <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
            </div>
          </div>
          <div class="ms-3">
            <!-- <h6 class="mb-0">Jhon Doe</h6> -->
            <span>Admin</span>
          </div>
        </div>
        <div class="navbar-nav w-100">
          <a href="/admin/adminpanel" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/admin/userdash" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
          <a href="/admin/product" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Products</a>
          <a  class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Category</a>
          <a href="/admin/coupons" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupons</a>
          <a href="/admin/Orders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
          <a href="/admin/banners" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>Banners</a>
          <a href="/admin/offers" class="nav-item nav-link"><i class="fa-solid fa-hand-holding-dollar"></i>Offers</a>
          <form action="adminlogout" method="post" class="d-flex justify-content-center mt-3">
            <input type="submit" value="Logout" class="btn btn-danger">
          </form>
        </div>
      </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
          <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
          <i class="fa fa-bars"></i>
        </a>
        <!-- <form class="d-none d-md-flex ms-4">
                <input class="form-control border-0" type="search" placeholder="Search">
            </form> -->
        <div class="d-none navbar-nav align-items-center ms-auto">
          <div class="nav-item">
            <a href="#" class="nav-link">
              <i class="fa fa-envelope me-lg-2"></i>
              <span class="d-none d-lg-inline-flex"></span>
            </a>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <i class="fa fa-bell me-lg-2"></i>
              <span class="d-none d-lg-inline-flex">Notificatin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <a href="#" class="dropdown-item">
                <h6 class="fw-normal mb-0">Profile updated</h6>
                <small>15 minutes ago</small>
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                <h6 class="fw-normal mb-0">New user added</h6>
                <small>15 minutes ago</small>
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                <h6 class="fw-normal mb-0">Password changed</h6>
                <small>15 minutes ago</small>
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item text-center">See all notifications</a>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
              <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
              <span class="d-none d-lg-inline-flex">John Doe</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="#" class="dropdown-item">Settings</a>
              <a href="#" class="dropdown-item">Log Out</a>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->
      <!-- Shop Section Begin -->
      <div class="container mt-4">
        <h2>Category List</h2>
        <div>
          <form enctype="multipart/form-data" action="addCat" method="post">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="category" placeholder="Add new category">
              <span class="span-text" id="nameError" style="color: #db1d1d"></span>
            </div>
            <!-- <div class="form-group col-6 btn-light w-25">
              <input type="file" id="files" name="img" accept="/image" multiple-max_length="20px" class="upload__inputfile">
            </div> -->
            <div class="container d-flex flex-column align-items-center pt-2">
              <button type="submit" class="btn btn-secondary mb-2" onclick="return validateForm()">Add
                Category</button>
              <div><span class="span-text" id="submit-error" style="color: #db1d1d"></span></div>
              <% if (status !=='undefined' ) { %>
                <h6 class="text-center text-danger">
                  <%= message %>
                </h6>
                <% } %>
            </div>
          </form>
        </div>
        <div class="table-wrapper">
          <div class="table-responsive">
            <% if (cats.length> 0) { %>
              <table id="userlist" class="display table table-striped table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>status</th>
                    <th>Actions</th>
                    <th>Offers</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i=0; i < cats.length; i++) { %>
                    <tr>
                      <td>
                        <%= i + 1 %>
                      </td>
                      <td>
                        <%= cats[i].name %>
                      </td>
                      <td>
                        <% if (cats[i].status===false) { %>
                          <!-- <a href="/admin/unlist?id=<%= cats[i]._id %>" class="btn btn-danger" data-toggle="modal"
                            data-target="#mymodal" onclick="alert('Do you want to unlist the category')">Unlist</a> -->
                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Unlist</a>
                          <% } else { %>
                            <a href="/admin/unlist?id=<%= cats[i]._id %>" class="btn btn-success">List</a>
                            <% } %>
                      </td>
                      <td>
                        <button type="button" id="openModalButton" class="btn btn-secondary"
                          onclick="openEditModal('<%= cats[i]._id %>', '<%= cats[i].name %>')">Edit</button>
                      </td>
                      <td>
                        <% if (typeof cats[i].offer==='undefined' ) { %>
                          <a class="btn btn-success popupBTN" data-id="<%= cats[i]._id %>" href="#" role="button" data-toggle="modal"
                            data-target="#cancelOrderModal">Apply</a>
                          <% } else { %>
                            <a class="btn btn-danger popupBTN1" data-id="<%= cats[i]._id %>" href="#" role="button" data-toggle="modal"
                              data-target="#cancelOffer">Remove</a>
                            <% } %>
                      </td>
                      <% } %>
                    </tr>
                </tbody>
              </table>
          </div>
          <% } else { %>
            <h1 class="text-center">List is empty</h1>
            <% } %>
        </div>
      </div>
      </div>
      </div>
      <!-- ... (other sections) ... -->
      <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cancelOrderModalLabel">Offer List</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="orderStatusForm" action="applyOffer" method="post">
            <div class="modal-body">
                <input type="hidden" name="id" id="categoryIdForOffer" > 
                <div class="form-group">
                  <label for="orderStatus">Order Status:</label>
                <select name="offerId" id="offer" class="form-control">
                  <% offers.forEach((offer)=>{ %>
                    <option value="<%=offer._id  %>">
                      <%=offer.name %>
                    </option>
                    <% }) %>
                </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="orderStatusForm" class="btn btn-danger">Add offer</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Modal for Return Order -->
      <!-- remove offer modal -->
      <div class="modal fade" id="cancelOffer" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cancelOrderModalLabel">You want to remove the offer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="orderStatusForm1" action="removeoffer" method="post">
              <div class="modal-body1">
                <input type="hidden" name="cat" id="categoryId1">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" form="orderStatusForm1" class="btn btn-danger">Yes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- cancell offer end -->

      <!-- edit catrgory modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form enctype="multipart/form-data" id="editForm" action="/admin/editCat" method="post">
              <div class="modal-body">
                <div class="form-group">
                  <input type="hidden" name="categoryId" id="editCategoryId">
                  <input type="text" name="name" class="form-control" id="editCategoryName" placeholder="Category Name">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6 btn-light w-25">
                  <input type="file" id="files" name="img" accept="/image" multiple-max_length="20px" class="upload__inputfile">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to unlist this category?
          </div>
          <div class="modal-footer">
            <a href="/admin/unlist?id=<%= cats[i]._id %>" class="btn btn-danger">Yes</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <script src="/js/admain.js"></script>
  </div>
  <script src="/js/categoryvalidation.js"></script>
<%- include('../layout/adfooter.ejs') -%>