<%- include('../layout/adheader.ejs') -%>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="me-2"></i>BAAGY</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <!-- <h6 class="mb-0">Jhon Doe</h6> -->
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/userdash" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
                    <a href="/admin/product" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Products</a>
                    <a href="/admin/category" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Category</a>
                    <a href="/admin/coupons" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupons</a>
                    <a href="/admin/Orders" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Orders</a>
                    <a href="/admin/banners" class="nav-item nav-link"><i class="far fa-file-alt me-2"></i>Banners</a>
                    <a href="/admin/offers" class="nav-item nav-link"><i class="fa-solid fa-hand-holding-dollar"></i>Offers</a>
                    <form action="adminlogout" method="post" class="d-flex justify-content-center mt-3">
                        <input type="submit" value="Logout" class="btn btn-danger">
                    </form>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- contents starts -->
            <div class="p-5" >
                <div class="" style="border:0.5px solid black;">
                    <div class="d-flex h-100 justify-content-center align-items-center bg-light pt-4">
                        <form enctype="multipart/form-data" action="productupdate?id=<%=prdData._id%> " method="post"
                            class="container py-4 px-5 rounded shadow-sm bg-light">
                            <div class="row ">
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Name</label>
                                    <input type="text" name="name" class="form-control" id="pname"
                                        value="<%=prdData.name%>" onchange="validatename()">
                                        <span class="span-text" id="nameError" style="color: #db1d1d"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Brand</label>
                                    <input class="form-control" id="brand" name="brand" value="<%=prdData.brand%>" onchange="validatebrand()">
                                    <span class="span-text" id="brandError" style="color: #db1d1d"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Quantity</label>
                                    <input type="number" id="quantity" name="quantity" class="form-control"
                                        value="<%=prdData.quantity%>" onchange="validatequantity()" min="1">
                                        <span class="span-text" id="quantityError" style="color: #db1d1d"></span>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark">Actual price</label>
                                    <input type="number" name="actual" class="form-control" id="actual" value="<%=prdData.actual%>" min="1" onchange="validateactual()">
                                    <span class="span-text" id="actualError" style="color: #db1d1d"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Current Price</label>
                                    <input type="number" name="price" id="price" class="form-control" value="<%=prdData.price%>" min="1" onchange="validateprice()">
                                    <span class="span-text" id="priceError" style="color: #db1d1d"></span>
                                </div>
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Discount</label>
                                    <input type="number" name="discount" id="discount" class="form-control"
                                        value="<%=prdData.discount%>" min="0" onchange="validatediscount()">
                                        <span class="span-text" id="discountError" style="color: #db1d1d"></span>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="form-group col">
                                    <label for="exampleInputname" class="mb-2 text-dark ">Material</label>
                                    <input type="text" name="material" id="material" class="form-control"
                                        value="<%=prdData.material%>" required onchange="validatematerial()">
                                        <span class="span-text" id="materialError" style="color: #db1d1d"></span>
                                </div>
                            </div>
                            <div class="form-group col">
                                <label for="floatingTextarea mt-3" class="mb-1 text-dark ">Description</label>
                                <textarea type="text" name="description" id="description" class="form-control mt-2 mb-2"
                                    style="height: 150px;" id="floatingTextarea" onchange="validatedescription()"><%=prdData.description%></textarea>
                                    <span class="span-text" id="descriptionError" style="color: #db1d1d"></span>
                            </div>
                            <div class="row">
                                <div class="col w-25">
                                    <label for="category" class="text-dark">Select Category:</label>
                                <select id="myList" onchange="favTutorial()">
                                    <% if(catData.length>0)
                                        { for(let i=0;i<catData.length;i++){%>
                                            <option id="<%=catData[i]._id  %>" value="<%=catData[i]._id  %>">
                                                <%= catData[i].name %>
                                            </option>
                                            <% }}else{ %>
                                                <option value="">No categories</option>
                                                <% } %>
                                </select>
                                <input type="hidden" id="favourite" name="category">
                                </div>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <% prdData.img.forEach(img=>{ %>
                                        <div class="d-flex flex-column" style="width:7rem; margin:1rem;">
                                            <img src="/img/<%= img%>" class="img-fluid mb-1">

                                            <a href="/admin/deleteimg?id=<%=prdData._id %>&imageURL=<%= img%>"
                                                class="btn btn-danger btn-sm text-dark">Delete</a>
                                        </div>

                                        <%}) %>
                                </div>
                                <% for(let i=0;i< 4-prdData.img.length;i++){ %>
                                    <div class="my-2">
                                        <input type="file" name="img">
                                    </div>
                                    <%}%>
                            </div>
                            <div class="d-flex flex-column align-items-center mt-3">
                                <span class="span-text m-2" id="submit-error" style="color: #db1d1d"></span>
                                <button type="submit" value="submit" id="submitButton" class="btn btn-warning"
                                    onclick="return validateForm()">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var mylist = document.getElementById("myList");
            var hiddenInput = document.getElementById("favourite");
            var categoryId = "<%= prdData.category %>"; // Assuming prdData.category holds the category ID
    
            for (var i = 0; i < mylist.options.length; i++) {
                if (mylist.options[i].getAttribute("value") === categoryId) {
                    mylist.selectedIndex = i;
                    hiddenInput.value = categoryId;
                    break;
                }
            }
    
            mylist.addEventListener("change", function() {
                var selectedOption = mylist.options[mylist.selectedIndex];
                var selectedObjectId = selectedOption.getAttribute("value"); 
                hiddenInput.value = selectedObjectId;
            });
        });
    </script>

    <script src="/js/editproductvalid.js"></script>

<%- include('../layout/adfooter.ejs') -%>