<%- include('../layout/header.ejs') -%>

    <!-- Shop Section Begin -->
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="/profile">User Profile</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="/orders">Orders</a></li>
                            <li class="breadcrumb-item" aria-current="page">Order Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <% orders.forEach(orderItem=> { %>
                    <% const dd=orderItem.date.getDate(); const mm=orderItem.date.getMonth() + 1; const
                        yyyy=orderItem.date.getFullYear(); const formattedDate=`${dd}-${mm}-${yyyy}`; %>
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div>Ordered on: <%= formattedDate %>
                                </div>
                                <div>Order Id: <%= orderItem._id %>
                                </div>
                                <div class="row align-items-center">
                                    <% if (orderItem.orderStatus==="Delivered" && orderItem.returnStatus !==true && rdate
                                        <=7) { %>
                                        <a class="btn btn-primary" href="#" role="button" data-toggle="modal"
                                            data-target="#returnOrderModal">Return</a>
                                        <% } else if (orderItem.orderStatus !=="Delivered" && orderItem.orderStatus
                                            !=="Return" && orderItem.orderStatus !=="Cancelled" && orderItem.orderStatus !=="Cancelled by Admin" ) { %>
                                            <a class="btn btn-danger" href="#" role="button" data-toggle="modal"
                                                data-target="#cancelOrderModal">Cancel Order</a>
                                            <% } else if (orderItem.orderStatus==="Delivered" &&
                                                orderItem.returnStatus===true) { %>
                                                <p>Return Under Processing</p>
                                                <% } %>
                                                    <% if (orderItem.orderStatus==="Delivered" && orderItem.returnStatus
                                                        !==true) { %>
                                                        <form action="/downloadInvoice?id=<%= orderItem._id %>"
                                                            method="post">
                                                            <button class="btn"
                                                                style="background-color: #ffffff; border: solid #000000 1px; margin-left: 3px;"
                                                                type="submit">Invoice</button>
                                                        </form>
                                                        <% } %>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div class="ms-3">
                                            <h4>Shipping Address</h4>
                                            <h5>
                                                <%= addrs.name %>
                                            </h5>
                                            <h5>
                                                <%= addrs.mobile %>
                                            </h5>
                                            <h5>
                                                <%= addrs.address %>, <%= addrs.locality %>
                                            </h5>
                                            <h5>
                                                <%= addrs.state %>
                                            </h5>
                                        </div>
                                        <div class="ms-3">
                                            <h4>Payment</h4>
                                            <h5>
                                                <%= orderItem.paymentMode %>
                                            </h5>
                                            <h5>
                                                Total : ₹ <%= orderItem.total %>
                                            </h5>
                                            <h5>
                                                Discount : ₹ <%= orderItem.discount %>
                                            </h5>
                                        </div>
                                        <div class="ms-3">
                                            <h4>Order status</h4>
                                            <% if (orderItem.orderStatus==="Confirmed" ) { %>
                                                <h5 style="color: #ff9100;">
                                                    <%= orderItem.orderStatus %>
                                                </h5>
                                                <% } else if (orderItem.orderStatus==="Cancelled" || orderItem.orderStatus==="Cancelled by Admin" ) { %>
                                                    <h5 style="color: #ee0404;">
                                                        <%= orderItem.orderStatus %>
                                                    </h5>
                                                    <% } else if (orderItem.orderStatus==="Delivered" ) { %>
                                                        <h5 style="color: #01af27;">
                                                            <%= orderItem.orderStatus %>
                                                        </h5>
                                                        <% } else if (orderItem.orderStatus==="Return" ) { %>
                                                            <h5 style="color: #256eb3;">
                                                                <%= orderItem.orderStatus %>
                                                            </h5>
                                                            <% } else if (orderItem.orderStatus==="Shipped" ) { %>
                                                                <h5 style="color: #06f5ad;">
                                                                    <%= orderItem.orderStatus %>
                                                                </h5>
                                                                <% } else if (orderItem.orderStatus==="Out for Delivery" ) {
                                                                    %>
                                                                    <h5 style="color: #0ceeaa;">
                                                                        <%= orderItem.orderStatus %>
                                                                    </h5>
                                                                    <% } %>
                                        </div>
                                    </div>
                                </li>
                                <% orderItem.products.forEach(product=> { %>
                                   
                                    <li class="list-group-item">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <img src="img/<%= product.productId.img[0] %>"
                                                    alt="<%= product.productId.name %>" width="100">
                                            </div>
                                            <div class="ms-3">
                                                <h5>
                                                    <%= product.productId.name %>  x <%= product.count %>
                                                </h5>
                                                <p>Price: ₹<%= product.productId.price %>
                                                </p>
                                            </div>
                                            <div class="ms-3">
                                                <% if ( orderItem.orderStatus==="Delivered" && product.returnStatus !==true && rdate <=7 && orderItem.returnStatus
                                                    !==true && orderItem.products.length>1 ) { %>
                                                    <a class="btn btn-primary popupBTN1" href="#" role="button" data-rid="<%= product.productId._id %>" data-toggle="modal"
                                                        data-target="#returnProductModal">Return</a>
                                                    <% } %>
                                                        <% if (orderItem.orderStatus !=="Delivered" && product.orderStatus
                                                            !=="Cancelled" && orderItem.orderStatus !=="Return" &&
                                                            orderItem.orderStatus !=="Cancelled" && orderItem.orderStatus !=="Cancelled by Admin" && orderItem.products.length>1 ) { %>
                                                            <a class="btn btn-danger popupBTN" data-pid="<%= product.productId._id %>"
                                                                role="button" data-toggle="modal"
                                                                data-target="#cancelProductModal">Cancel</a>
                                                            <% } else if(orderItem.orderStatus==="Cancelled" || orderItem.orderStatus ==="Cancelled by Admin" || product.orderStatus
                                                            ==="Cancelled" ) { %>
                                                                <h5 style="color: #ee0404;">
                                                                    <%= product.orderStatus %>
                                                                </h5>
                                                                <% } else if(product.orderStatus==="Return" ) { %>
                                                                    <h5 style="color: #0943e2;">
                                                                        <%= product.orderStatus %>
                                                                    </h5>
                                                                <% } %>
                                                                    <% if (product.returnStatus ===true && product.orderStatus!="Return") { %>
                                                                        <p>Return Under Processing</p>
                                                                        <% } %>
                                            </div>
                                        </div>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <!-- Modal for Cancel Order -->
                        <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog"
                            aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to cancel this order?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="/cancelorder?id=<%= orderItem._id %>" class="btn btn-danger">Confirm
                                            Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal for Return Order -->
                        <div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog"
                            aria-labelledby="returnOrderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="returnOrderModalLabel">Return Order Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to return the product?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a href="/returnorder?id=<%= orderItem._id %>" class="btn btn-danger">Confirm
                                            Return</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal for Cancel Product -->
                        <div class="modal fade" id="cancelProductModal" tabindex="-1" role="dialog"
                            aria-labelledby="cancelProductModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelProductModalLabel">Cancel Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="orderStatusForm" action="/cancelproduct" method="post">
                                        <div class="modal-body">
                                            <input type="hidden" name="pid" id="categoryIdForOffer">
                                            <input type="hidden" name="id" value="<%= orderItem._id %>">
                                            <p>Are you sure you want to cancel this product?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" form="orderStatusForm"
                                                class="btn btn-danger">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- product return modal -->
                        <div class="modal fade" id="returnProductModal" tabindex="-1" role="dialog" aria-labelledby="cancelProductModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelProductModalLabel">Return Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="orderStatusForm1" action="/returnproduct" method="post">
                                        <div class="modal-body">
                                            <input type="hidden" name="pid" id="productId">
                                            <input type="hidden" name="id" value="<%= orderItem._id %>">
                                            <p>Are you sure you want to return this product?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" form="orderStatusForm1" class="btn btn-danger">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- product return modal end -->
                        <% }); %>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <%- include('../layout/footer.ejs') -%>

    <!-- Js Plugins -->
     <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script> -->
    <script src="/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var $j = jQuery.noConflict()
            $('#cancelOrderModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
            });
        });
    </script>
    <script>
        $(document).on("click", ".popupBTN", function () {
            var pId = $(this).data('pid');
            console.log(pId);

            $(".modal-body #categoryIdForOffer").val(pId);
            // $(".modal-body #newName").val(cVal);

        });
    </script>
    <script>
        $(document).on("click", ".popupBTN1", function () {
            var pId = $(this).data('rid');

            $(".modal-body #productId").val(pId);
            // $(".modal-body #newName").val(cVal);

        });
    </script>