<%- include('../layout/header.ejs') -%>
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb__text">
            <h4>Shop</h4>
            <div class="breadcrumb__links">
              <a href="./index.html">Home</a>
              <span>Shop</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->

  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div>
              <div class="shop__sidebar__search">
                <form class="d-flex mr-auto" role="search" id="searchForm">
                  <input class="form-control" type="search" placeholder="Search" value="<%=search%>" aria-label="Search" />
                  <button type="submit">
                    <span class="icon_search"></span>
                  </button>
                </form>
              </div>
            </div>
            <div class="shop__sidebar__accordion">
              <% if(cat || brand || prdData.length===0 || minPrice || search) {%>
                <a href="/shop" class="clear-filter-link">clear filter X</a>
                <% } %>
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="shop__sidebar__categories">
                            <ul class="nice-scroll">
                              <% if (catData.length> 0) { %> <% for (let i=0; i < catData.length; i++) { %>
                                  <li>
                                    <a href="#" class="filter-button <%= cat === catData[i].id ? 'active-category' : '' %>"
                                      data-category="<%= catData[i].id %>">
                                      <%= catData[i].name %>
                                    </a>
                                  </li>
                                  <% } %>
                                    <% } %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                      </div>
                      <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="shop__sidebar__brand">
                            <ul>
                              <% if (catData.length> 0) { %> <% for (let i=0; i < allbrand.length; i++) { %>
                                  <li>
                                    <a href="#" class="filter-button active" data-brand="<%= allbrand[i] %>">
                                      <%= allbrand[i]%>
                                    </a>
                                  </li>
                                  <% } %>
                                    <% } %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                      </div>
                      <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                          <div class="shop__sidebar__price">
                            <ul>
                              <li><a href="#" class="filter-button" data-minprice="1" data-maxprice="5000">Price: ₹0 -
                                  ₹5000</a></li>
                              <li><a href="#" class="filter-button" data-minprice="5000" data-maxprice="15000">Price:
                                  ₹5000 - ₹15000</a></li>
                              <li><a href="#" class="filter-button" data-minprice="15000" data-maxprice="100000000">Price: above
                                  ₹15000</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__left">
                  <p>Showing 1–12 of 126 results</p>
                </div>
              </div> -->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- <div class="shop__product__option__right">
                  <p>Sort by Price:</p>
                  <select>
                    <option value="">Low To High</option>
                    <option value="">$0 - $55</option>
                    <option value="">$55 - $100</option>
                  </select>
                </div> -->
                <div class="col">
                  <select class="form-control" id="sortingSelect">
                    <option value="">Default Sorting</option>
                    <option value="low">Sorting by low to high</option>
                    <option value="high">Sorting by high to low</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- (prdData[i].quantity> 0 && prdData[i].status != true && prdData[i]) -->
                <% if (prdData.length> 0) { %>
                <% for (let i=0; i < prdData.length; i++) { %>
                  <% if (prdData[i].status != true && prdData[i]) { %>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <!-- new div for borser -->
              <div class="product__item">
                <a href="/getproduct?id=<%=prdData[i]._id%>">
                  <div class="product__item__pic set-bg" data-setbg="img/<%= prdData[i].img[0] %>" alt="">
                    <ul class="product__hover">
                      <!-- fix this -->
                      <!-- <li><a href="/towishlist?id=<%=prdData[i]._id%>"><img src="img/icon/heart.png" alt=""></a></li> -->
                
                      <!-- <li><a href="#"><img src="img/icon/search.png" alt=""></a></li> -->
                    </ul>
                  </div>
                </a>
                <div class="product__item__text">
                  <h6>
                    <%=prdData[i].name%>
                  </h6>
                  <!-- <a href="#" class="add-cart">+ Add To Cart</a> -->
                  <h5>₹ <%=prdData[i].price%>
                  </h5>
                  <div class="product__color__select"></div>
                </div>
              </div>
            </div>
            <% } %>
              <% } %>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="product__pagination">
                <section class="page-section">
                  <div class="container">
                    <div class="row justify-content-end align-items-center">
                      <div class="col-lg-12 pt-3">
                        <nav aria-label="...">
                          <ul class="pagination pagination-sm justify-content-center">
                                  <% const totalPages=Math.ceil(productCount / limit); %>
                                    <% for (let i=1; i <=totalPages; i++) { %>
                                      <% const isActive=i===page; %>
                                        <li class="page-item <%= isActive ? 'active' : '' %>">
                                          <a class="page-link pagination-link" style="background-color:rgb(188 175 175);" href="#" data-page="<%= i %>">
                                            <%= i %>
                                          </a>
                                        </li>
                                        <% } %>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">21</a> -->
              </div>
            </div>
          </div>
        <% }else{%>
          <div class="w-100 text-center">
            <div>
              <h2>NO PRODUCTS FOUND</h2>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </section>
  <!-- Shop Section End -->
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery.nicescroll.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <!-- <script src="/js/jquery.countdown.min.js"></script> -->
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <!-- <script src="/js/owl.carousel.min.js"></script> -->
  <script src="/js/main.js"></script>
  <script src="js/shopingpage.js"></script>

<%-include('../layout/footer.ejs')-%>