<%- include('../layout/header.ejs') -%>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
   

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
    <% if (typeof cart !=='undefined' && cart !== null && cart.product.length> 0 ) { %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                        <div class="shopping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(i in cart.product){%>
                                        <tr>
                                            <td class="product__cart__item">
                                                <div class="product__cart__item__pic">
                                                    <img style="width: 90px; height:90px"
                                                        src="img/<%=cart.product[i].productId.img[0]%>" alt="">
                                                </div>
                                                <div class="product__cart__item__text">
                                                    <h6>
                                                        <%=cart.product[i].productId.name%>
                                                    </h6>
                                                    <h5>₹ <%=cart.product[i].productId.price%>
                                                    </h5>
                                                </div>
                                            </td>
                                            <td class="quantity__item">
                                                <div class="quantity">
                                                    <!-- <div class="pro-qty-2">
                                                <input type="text" value="1">
                                                <button type="button" class="btn btn-secondary">Secondary</button>
                                            </div> -->
                                            <div class="message" id="<%= cart.product[i]._id %>__message"></div>
                                                    <button type="button" class="btn btn-secondary"
                                                        id="<%=cart.product[i]._id%>plus"
                                                        onclick="updateCart(-1,'<%= cart.product[i].productId._id %>','<%= cart.product[i]._id %>')">-</button>

                                                    <span class="ms-2 me-2" id="<%= cart.product[i]._id %>"
                                                        data-max-quantity="<%= cart.product[i].productId.quantity %>">
                                                        <%= cart.product[i].count%>
                                                    </span>
                                                    <button type="button" class="btn btn-secondary"
                                                        id="<%=cart.product[i]._id%>minus"
                                                        onclick="updateCart(1,'<%= cart.product[i].productId._id %>','<%= cart.product[i]._id%>')">+</button>
                                                </div>
                                            </td>
                                            <!-- <td class="cart__price">₹ <%=cart.product[i].subtotal%></td> -->
                                            <td class="cart__price" id="<%= cart.product[i]._id %>y">₹<%=
                                                    cart.product[i].subtotal %>
                                            </td>
                                            <td class="cart__close">
                                                <form action="/delete?productId=<%= cart.product[i].productId._id %>"
                                                    method="post">
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <a href="/shop">Continue Shopping</a>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> -->
                        </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount" style="width: 23rem;">
                        <h6>
                            Discount codes
                        </h6>
                                <li id="failedLi" style="display: none;"><span id="failed"></span></li>

                                <a href="/removecpn" id="removeCouponButton" style="text-align: center;display: none;">
                                    <button type="button" >Remove coupon</button>
                                </a>

                                    <form id="form2" action="" method="post" style="display: block;">
                                        <input type="text" name="coupon" placeholder="Coupon code">
                                        <button type="submit" id="applyCouponButton">Apply</button>
                                    </form>        
                    </div>                    
                    <div class="d-flex" style="overflow: auto; height: 10rem;">
                        <div class="card" style="width: 18rem; border: none;">
                            <%if( cart && coupons){%>
                                <% for (let i=0; i < coupons.length; i++) { %>
                                    <div class="card coupondiv" style="width: 21rem; margin-top: 1px;">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= coupons[i].name %>
                                            </h5>
                                            <p class="card-text" style="margin-bottom: 5px;">Discount: <%=
                                                    coupons[i].discount %>%</p>
                                            <p class="card-text" style="margin-bottom: 5px;">Minimum Purchase: ₹ <%=
                                                    coupons[i].min_amt %>
                                            </p>
                                            <button class="copy-button btn"
                                                data-name="<%= coupons[i].name %>">Copy</button>
                                        </div>
                                    </div>
                                    <% } %>
                                        <%}%>
                        </div>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <% if (!usedcpn && !cart1) { %>
                                <li id="couponAppliedLi" style="display: none;">Coupon applied: <span id="coupon"></span></li>
                                <li id="subLi" style="display: none;">Subtotal: <span id="subtotal"></span></li>
                                <li id="discountLi" style="display: none;">Discount: <span id="discount" style="color: green;"></span></li>
                                <li>Total: <span id="cartTotal">₹ <%= cart.total %></span></li>
                            <% }  %>                           
                        </ul>
                        <form id="form2" action="/checkout" method="get">
                            <button type="submit" class="primary-btn" id="submitForm2" style="border: none; width: 17rem;">Proceed to checkout</button>
                        </form>
                        <!-- <a href="/checkout" class="primary-btn" >Proceed to checkout</a> -->
                    </div>
                </div>
            </div>
        </div>
        <%}else{%>
            <div class="flex justify-content-center text-center">
                <div class="align-items-center">
                    <h1>YOUR CART IS EMPTY</h1>
                </div>
                <div class="continue__btn" style="margin-top: 2rem;">
                    <a href="/shop">Start Shopping</a>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    
                </div> -->
            </div>
        <%}%>
    </section>
    <!-- Shopping Cart Section End -->

<%- include('../layout/footer.ejs') -%>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <!-- update cart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/cartajaxupdate.js"></script>
    
    <!-- delete products -->

    <script>
        // Add event listeners to the copy buttons
        const copyButtons = document.querySelectorAll(".copy-button");
        copyButtons.forEach(button => {
            button.addEventListener("click", function () {
                const couponName = this.getAttribute("data-name");
                copyToClipboard(couponName);
            });
        });

        // Function to copy text to clipboard
        function copyToClipboard(text) {
            const textarea = document.createElement("textarea");
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
                const form = document.getElementById("form2");
                const removeCouponButton = document.getElementById("removeCouponButton");
                const failed = document.getElementById("failedLi");

                form.addEventListener("submit", function (e) {
                    e.preventDefault();
                    const couponCode = document.querySelector('input[name="coupon"]').value;
                    console.log(couponCode)

                    fetch("applycpn", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ coupon: couponCode }),
                    })
                        .then((response) => response.json())
                        .then(data => {
                            console.log(data.status)
                            const jsonArray = Object.values(data);
                            if(jsonArray[1].coupon){
                                 couponAppliedLi.style.display = "block";
                                discountLi.style.display = "block";
                                subLi.style.display = "block";

                            }

                            
                            const discount= document.getElementById("discount");
                            const subtotal = document.getElementById("subtotal");
                            const coupon = document.getElementById("coupon");
                            const cartTotal = document.getElementById("cartTotal"); 
                                cartTotal.innerHTML = `₹ ${jsonArray[1].Total}`;
                                discount.innerHTML = `- ₹ ${jsonArray[1].discount}`;
                                coupon.innerHTML = `${jsonArray[1].coupon}`; 
                                subtotal.innerHTML = `₹ ${jsonArray[1].sub}`;

                                if (data.status === true) {
                                removeCouponButton.style.display = "block";
                                form.style.display = "none"; // Hide the form
                                failed.style.display = "none";
                                
                            }

                            if (data.status === false) {
                                 failed.innerHTML = `${jsonArray[1].out}`;
                                failed.style.display = "block";
                                // form.style.display = "none";
                            }

                        })
                        .catch((error) => {
                            console.error("Error:", error);
                        });
                });

            removeCouponButton.addEventListener("click", function (e) {
                e.preventDefault(); 


                fetch(`removecpn`, { 
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log(data.remove,"",data.status);
                        const jsonArray = Object.values(data);
                        console.log(jsonArray);

                        if (jsonArray[2].out) {
                            couponAppliedLi.style.display = "none";
                            discountLi.style.display = "none";
                            subLi.style.display = "none";

                        }

                        if (data.status === true && data.remove === true) {
                            console.log("hell");
                            const cartTotal = document.getElementById("cartTotal");
                            cartTotal.innerHTML = `₹ ${jsonArray[2].Total}`;
                            removeCouponButton.style.display = "none";
                            form.style.display = "block"; // Hide the form
                            failed.innerHTML = `${jsonArray[2].out}`;
                            failed.style.display = "block";
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            });

            });

    </script>
