<%- include('../layout/header.ejs') -%>

    <!-- Shop Section Begin -->
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <%if(status !=='undefined') {%>
                        <h5 class="text-center text-dark"><%= message %></h5>
                    <%}%>
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/profile">User Profile</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Address</li>
                        </ol>
                    </nav>
                    <a href="/getform"><button class="btn btn-secondary" style="margin-bottom:1rem;" >Add address</button></a>
                </div>
            </div>
            <!-- <div class="row">
                <div class="card mb-4 mb-lg-0 col">
                    <a href="">
                        <div class="d-flex card-body p-0 bg-danger justify-content-center"
                            style="width:17rem; height: 7rem;">
                            <img src="/img/icon/addicon.png">
                            <div>
                                <p>Add address</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div> -->
            <div class="row">
                <%if(address){%>
                <% for(i in address.address){%>
                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body" style="line-height:.5rem; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" >
                            <h5 class="card-title"><%=address.address[i].name%></h5>
                            <h5 class="card-title">Mobile: <%=address.address[i].mobile%></h5>
                            <h5 class="card-title">Address: <%=address.address[i].address%></h5>
                            <h5 class="card-title">Pincode: <%=address.address[i].pincode%></h5>
                            <h5 class="card-title">Locality: <%=address.address[i].locality%></h5>
                            <h5 class="card-title">District: <%=address.address[i].district%></h5>
                            <h5 class="card-title">State: <%=address.address[i].state%></h5>
                            <div class="row">
                                <div class="m-2">
                                    <form action="/edit?adsid=<%=address.address[i]._id%>" method="post">
                                        <button type="submit" class="btn btn-secondary">Edit</button>
                                    </form>
                                </div>
                                <div class="m-2">
                                    <form action="/removeadrs?adsid=<%=address.address[i]._id%>" method="post">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <%}else{%>
                    <div class="flex-row text-center">
                        <!-- <a href="/getform"><button class="btn btn-secondary" style="margin-bottom:1rem;" >Add address</button></a> -->
                    </div>
                    <%}%>
            </div> 
        </div>
      </section>
    <!-- Shop Section End -->

<%-include('../layout/footer.ejs')-%>

    <!-- Include Bootstrap and jQuery libraries here -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
