<%- include('../layout/header.ejs') -%>
    <!-- Shop Section Begin -->
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/profile">User Profile</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <!-- <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">John Smith</h5>
                  <p class="text-muted mb-1">Full Stack Developer</p>
                  <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div>
                </div>
              </div> -->
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li
                                    class=" list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fa fa-tachometer fa-lg text-warning"></i>
                                    <p class="mb-0">Dashboard</p>
                                </li>
                                <a href="/editprofile">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa fa-pencil fa-lg text-danger" style="color: #333333;"></i>
                                        <p class="mb-0">Edit Profile</p>
                                    </li>
                                </a>
                                <a href="/editpass">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa fa-key fa-lg" style="color: #55acee;"></i>
                                        <p class="mb-0">Change password</p>
                                    </li>
                                </a>
                                <a href="/address">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa fa-address-card-o fa-lg" style="color: #ac2bac;"></i>
                                        <p class="mb-0">Address</p>
                                    </li>
                                </a>
                                <a href="/orders">
                                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa fa-credit-card-alt fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">Order</p>
                                    </li>
                                </a>
                                <a>
                                    <li class=" active list-group-item d-flex justify-content-between align-items-center p-3">
                                        <i class="fa-solid fa-wallet fa-lg" style="color: #3b5998;"></i>
                                        <p class="mb-0">Wallet Balance : ₹ <%=userData.wallet%>
                                        </p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="table-wrapper">
                            <div class="table-responsive">
                                    <table id="userlist" class="display table table-striped table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <!-- <th scope="col">ID</th> -->
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Details</th>
                                                <th scope="col">Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(walletHistory){ %>
                                                <% for (let i = walletHistory.length - 1; i >= 0; i--){ %>
                                                <tr>
                                                   
                                                    <td>
                                                        <%= (new Date(walletHistory[i].date)).toLocaleDateString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric' })
                                                            %>
                                                    </td>
                                                    <td>
                                                        ₹ <%= walletHistory[i].amount %>
                                                    </td>
                                                    <td>
                                                    <%= walletHistory[i].type %>
                                                    </td>
                                                    <td>
                                                        <%= walletHistory[i].details%>
                                                    </td>
                                                    <td>
                                                    ₹ <%= walletHistory[i].balance %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                            </div>
                            <%}else{%>
                                <h1 class="text-center">No Wallet Balance</h1>
                                <%}%>
                        </div>
                    </div>
                </div>
    </section>
    <!-- Shop Section End -->

<%- include('../layout/footer.ejs') -%>

    <!-- Js Plugins -->
    <!-- <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script> -->